body {
  background-repeat: no-repeat;
  background-size: fill;
  font-family: Arial;
  margin: 0;
  padding: 0;
}

h1 {
  padding: 10px;
}

#container {
  display: flex;
  justify-content: center;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

::placeholder {
  color: #1c1a5a;
}

.form {
  background: #ffffff;
  color: #1c1a5a;
  height: 520px;
  left: 50%;
  opacity: 80%;
  padding: 40px;
  text-align: center;
  top: 50%;
  width: 300px;
}

.formh1 {
  color: #1c1a5a;
  font-weight: 500;
}

.form input[type="text"],
.form input[type="password"] {
  background: none;
  border-radius: 12px;
  border: 0;
  border: 2px solid #1c1a5a;
  color: #1c1a5a;
  display: block;
  margin: 20px auto;
  outline: none;
  padding: 14px 10px;
  text-align: center;
  transition: 0.24s;
  width: 240px;
}

.form input[type="text"]:focus,
.form input[type="password"]:focus {
  width: 260px;
}

.form input[type="submit"],
.form input[type="button"] {
  background: none;
  border-radius: 24px;
  border: 0;
  border: 2px solid #1c1a5a;
  color: #1c1a5a;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  outline: none;
  padding: 14px;
  text-align: center;
  transition: 0.24s;
  width: 140px;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover {
  background: #1c1a5a;
  color: #ffffff;
}

.cardlist {
  display: flex;
  padding: 40px;
}

.card {
  background: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
  border-radius: 16px;
  box-shadow: -2px 0 20px #000000;
  color: #1c1a5a;
  display: flex;
  flex-direction: column;
  height: 360px;
  position: relative;
  transition: 0.6s;
  width: 260px;
}

.card:hover {
  background: linear-gradient(to top, #782569, #be4166);
  color: #ffffff;
  transform: translateY(-20px);
}

.cardauthor {
  align-items: center;
  display: grid;
  grid-template-columns: 80px 1fr;
  margin: 20px 40px 0;
  position: relative;
}

.authoravatar {
  align-self: center;
  box-sizing: border-box;
  grid-area: auto;
  position: relative;
}

.authoravatar img {
  border-radius: 50%;
  display: block;
  height: 140px;
  margin: 16px 10px;
  overflow: hidden;
  width: 140px;
}

.halfcircle {
  bottom: -20px;
  fill: none;
  height: 140px;
  left: 10px;
  pointer-events: none;
  position: absolute;
  stroke-linecap: round;
  stroke-width: 8;
  stroke: #1c1a5a;
  width: 140px;
}

/* DESKTOP */
@media only screen and (min-width: 1080px) {
  body {
    background-image: url(images/WAVES-DESKTOP.jpg);
  }

  #title {
    align-items: center;
    background-image: url(images/);
    background: #1c1a5a;
    color: #ffffff;
    height: 600px;
    justify-content: center;
    opacity: 90%;
    text-align: center;
    width: 1000px;
  }
}

/* MOBILE */
@media only screen and (max-width: 1080px) {
  body {
    background-image: url(images/WAVES-MOBILE.jpg);
  }

  #title {
    display: none;
  }
}
